
@{
    ViewBag.Title = "Read Me";
}

<br />

<h4>Thank you for testing my code. In this project the following have been used:</h4>

<h2>Tech Stack Used:-</h2>

<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JQuery</li>
    <li>Ajax</li>
    <li>C#</li>
    <li>ASP.NET MVC</li>
</ul>

<h4>To review my code. Please click on <a href="https://github.com/hitanshu17/FormMVC-Test"> Github Repository </a></h4>

<h4>The code has been deployed on AWS EC2 Windows Instance. For Version controlling github has been used.</h4>

<h2>Future Scope of Improvement:-</h2>

<ul>
    <li>Librairies such as Bootstrap, TailWind, Material UI etc can be used to make the project visually more appleaing.</li>
    <li>At the moment, both the frontend and backend in the same project. In future, we can divide the project into 2. The backend can be API based so, that even if the frontend technologies are changed time to time the backend code can still be reused.</li>
    <li>The backend can be also built on .NET Core so, we can host the project on linux. Thus., reducing server cost.</li>
</ul>

<hr />
<h5 class="text-right">
    Best Regards, <br />
    Hitanshu Vig <br />
    +91-886241302
</h5>